



<!--Main Content Area-->
<main id="content">

  <app-nav></app-nav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>

  <!--Introduction-->
  
  <!--End of Introduction-->


  <!--Gallery-->
  
  <!--End of Gallery-->


  <!--Content Section-->
  
  <!--End of Content Section-->

  <!--Testimonials-->

  <!--End of Testimonials-->

  <!--Clients-->

  <!--End of Clients-->

  <!--Pricing Tables-->
 
  <!--End of Pricing Tables-->

</main>
<!--End Main Content Area-->


<!--Footer-->

<!--End of Footer-->
